{% extends 'base.html' %}

{% block content %}
<section class="container my-5">
    <div class="text-center">
        <h2 class="mb-4">Sobre mi</h2>
        <p>Hola, soy Andrés Labbozzetta. Este sitio fue desarrollado como parte de la entrega final del curso de Coderhouse.</p>

        <p>La página está pensada para aplicarse en un negocio propio que tengo: una escuela de ski en Bariloche. Como actualmente estamos ampliando la escuela, decidí desarrollar una web complementaria a la principal que ya utilizamos.</p>

        <p>La funcionalidad de este sitio es ofrecer a los clientes la posibilidad de crear un usuario y registrar a los integrantes que deseen tomar clases, completando campos descriptivos de cada alumno. Luego, podrán elegir el horario y la fecha de las clases.</p>
    </div>
</section>
{% endblock %}